'use strict';
const config = {
  wdioConfig: {
    path: '/wd/hub',
    automationProtocol: 'webdriver',
    logLevel: 'warn',
    waitforTimeout: 1000,
    connectionRetryCount: 1,
    capabilities: {
      browserName: 'chrome',
      'goog:chromeOptions': {
        args: [
          '--headless',
          //'--window-position=1100,1000',
          '--start-maximazed',
          '--disable-notifications',
          '--no-sandbox',
          '--disable-gpu',
          //'--user-data-dir=/path/to/project/time-tracker/test/' +
            //'automated/chrome-profile',
          //For Windows
          //'--user-data-dir=C:/Users/foo/Documents/' +
            //'path-to-project/test/automated/chrome-profile',
        ],
      },
    }
  },
  //my data
  pathToProjectNoTraillingSlash: '/path/to/project',
  //For Windows
  //pathToProjectNoTraillingSlash: '/C:/Users/path/to/project',
};

module.exports = config;
